<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <ul class="nav navbar-nav" routerLinkActive="active">
          <li *ngFor="let item of top" class="nav-item">
            <div *ngIf="item.right"><span flex></span></div>
            <a class="nav-link" routerLink={{item.url}}>
              <div *ngIf="item.md_icon"><md-icon>{{item.md_icon}}</md-icon></div>
              <div *ngIf="item.name">{{item.name}}</div> 
            </a>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
